<div class:present="status ==='present'" on:click="changeStatus()">
  <i class="check material-icons">{status === 'present' ? "check_box" : "check_box_outline_blank"}</i><span class="name">{student.englishName
    || student.chineseName}</span>
</div>

<style>
  div {
    list-style-type: none;
    margin: 1rem 0;
    padding: 1rem;
    cursor: pointer;
    color: grey;
    max-width: 50rem;
  }

  div:hover {
    color: var(--base-color);
    background-color: #f9f9f9;
  }

  .check {
    position: relative;
    padding: 0.4rem;
    margin: 0.4rem;
  }

  .name {
    position: relative;
    top: -6px;
  }

  div.present {
    color: var(--primary-color);
    font-weight: 400;
    /* border: 1px solid var(--primary-color); */
  }
</style>

<script>
  import client from '../utils/feathers.js'
  export default {
    computed: {
      attendance: ({ $attendances, student }) => $attendances.find(attendance => attendance.student === student.id),
      status: ({ attendance }) => {
        return attendance ? attendance.status : 'none'
      }
    },
    methods: {
      changeStatus() {
        const { attendance, status, student } = this.get()
        const { session } = this.store.get()
        if (status === 'none') {
          client.service('attendances').create({ status: "present", student: student.id, session: session.id })
        } else {
          const newStatus = (status === "present") ? "absent" : "present"
          client.service('attendances').patch(attendance.id, { status: newStatus })
        }
      }
    }
  }
</script>