{#if !edit}
<li on:click="set({edit:true})">{group ? group.name + ' class' : 'No class'}, In {distance}
  {startString}-{endTime}</li>
{:else}
<ClassSessionForm edit id={session.id} startsAt={startsAtLocal} endsAt={endsAtLocal} group={group ? group.id : '' }
  bind:show='edit' />
{/if}

<style>
  li {
    /* list-style-type: none; */
    padding: 1rem 0;
    margin: 1rem 0;
    cursor: pointer;
  }

  li:hover {
    background-color: #f4f4f4;
  }
</style>

<script>
  import { format, distanceInWords } from 'date-fns'
  export default {
    components: {
      ClassSessionForm: './ClassSessionForm.html'
    },
    data() {
      return {
        edit: false
      }
    },
    computed: {
      startsAt: ({ session }) => session.startsAt,
      endsAt: ({ session }) => session.endsAt,
      startsAtLocal: ({ startsAt }) => format(startsAt, 'YYYY-MM-DDTHH:mm'),
      endsAtLocal: ({ endsAt }) => format(endsAt, 'YYYY-MM-DDTHH:mm'),
      startString: ({ startsAt }) => format(startsAt, 'ddd MMM M HH:mm'),
      endTime: ({ endsAt }) => format(endsAt, 'HH:mm'),
      distance: ({ startsAt, time }) => distanceInWords(startsAt, new Date()),
      group: ({ session, $groups }) => $groups.find(group => group.id === session.studentGroupId)
    }
  }
</script>