{#if $activeGroup.id}
<h2>{$activeGroup.name} Class Session Active</h2>
<p class:late="$session.startsAt < time.toJSON()">Scheduled start time: {distance}</p>

{#if !$activeStudents.length}
<p>There are no students in this class. <a href="students">Add some</a>.</p>
{:else}
<button on:click="startClass($session.id)">Start class</button>
<AttendanceForm />
{/if}

{/if}

<style>
  .late {
    color: red;
  }
</style>

<script>
  import { formatDistanceStrict } from 'date-fns/esm'
  import client from '../utils/feathers.js'

  export default {
    components: {
      AttendanceForm: './AttendanceForm.html'
    },
    oncreate() {
      const { session } = this.store.get()
      // we can add and remove students to the class at this stage,
      // but we don't want student dissapearing in the middle of class
      // so only subscribe and make changes here in Active stage
      const students = client.service('students').watch()
        .find({ query: { group: session.studentGroupId } })
        .subscribe(res => this.store.set({ activeStudents: res.data }))
      this.on('destroy', students.unsubscribe)
      this.interval = setInterval(() => {
        this.set({ time: new Date() })
      }, 2000);
    },
    ondestroy() {
      clearInterval(this.interval)
    },
    data() {
      return {
        time: new Date(),
      }
    },
    computed: {
      distance: ({ $session, time }) => formatDistanceStrict($session.startsAt, new Date(), { addSuffix: true, includeSeconds: true })
    },
    methods: {
      startClass(id) {
        // mark others absent
        const { activeStudents, attendances, session } = this.store.get()
        const unmarkedStudents = activeStudents.filter(student => {
          return !attendances.find(attendance => attendance.student === student.id)
        })
        const newRecords = unmarkedStudents.map(student => {
          return { student: student.id, session: session.id, status: "absent" }
        })
        client.service("attendances").create(newRecords)
        client.service('class-sessions').patch(id, { stage: "Started" })
      }
    }
  }
</script>