<h3 class:late="$session.endsAt < time.toJSON()">{$activeGroup.name} class ends {endsString}</h3>

{#if presentStudents.length}
<div class="scoreboard">
  <TeachersScoreboard students={presentStudents} />
</div>
{/if}

{#if absentStudents.length}
<div class="absentlist">
  <h3>Absent students</h3>
  {#each absentStudents as student (student.id)}
  <AttendanceRow {student} />
  {/each}
</div>
{/if}

<style>
  .late {
    color: red;
  }
  .scoreboard {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  .absentlist {
    margin-top: 1rem;
  }
</style>

<script>
  import client from '../utils/feathers.js'
  import { formatDistance } from 'date-fns/esm'

  export default {
    data() {
      return {
        time: new Date()
      }
    },
    components: {
      TeachersScoreboard: './TeachersScoreboard.html',
      AttendanceRow: './AttendanceRow.html'
    },
    oncreate() {
      const { session } = this.store.get()
      client.service('students')
        .find({ query: { group: session.studentGroupId } })
        .then(res => this.store.set({ activeStudents: res.data }))
      this.interval = setInterval(() => {
        const now = new Date()
        this.set({ time: now })
        if (now.toJSON() > session.endsAt ){
          window.navigator.vibrate([100, 100, 200, 100, 300]);
        }
      }, 20000);
    },
    ondestroy() {
      clearInterval(this.interval)
    },
    computed: {
      absentStudents: ({ $activeStudents, $attendances }) => {
        return $activeStudents.filter(student => {
          const myattendance = $attendances.find(attendance => attendance.student === student.id)
          return myattendance && ['absent', 'lateLeftEarly', 'leftEarly'].includes(myattendance.status)
        })
      },
      presentStudents: ({ $activeStudents, $attendances }) => {
        return $activeStudents.filter(student => {
          const myattendance = $attendances.find(attendance => attendance.student === student.id)
          return myattendance && ['present', 'late'].includes(myattendance.status)
        })
      },
      endsString: ({ $session, time }) => formatDistance($session.endsAt, time, {addSuffix: true})
    }
  }
</script>