<div class="points-row">
  <div class="pointsWrapper">
    <PointsPanel student={student.id} />
  </div>

  <div class="name">
    {student.englishName || student.chineseName + '(' + student.pinyinName + ')'}
  </div>

  <!-- <div>
    <StudentStatusSwitcher {status} {attendance} />
  </div> -->
</div>

<style>
  div.points-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
    align-items: center;
    margin: 0.8rem 0;
    /* justify-content: space-between; */
  }

  div.pointsWrapper {
    order: -1;
  }

  div.name {
    font-size: 3.5rem;
    padding: 0 1rem;
  }
</style>

<script>
  export default {
    components: {
      StudentStatusSwitcher: './StudentStatusSwitcher.html',
      PointsPanel: './PointsPanel.html'
    }
  }
</script>