<div class="viewer-info">
  <p>This viewer must be registered.</p>
  <h2 class="code">Code: {code}</h2>
</div>


<style>
  .viewer-info {
    margin: 5rem;
    text-align: center;
  }

  .code {
    font-size: 8rem;
  }
</style>

<script>
  import client from '../../utils/feathers'

  export default {
    oncreate() {
      // watch for the command to register if we aren't registered yet.
      client.service('messages').on('created', this.onCreatedListener.bind(this))
      // change the temporary code every minute
      this.interval = setInterval(this.resetCode.bind(this), 60000);
    },
    ondestroy() {
      client.service('messages').removeListener('created', this.onCreatedListener)
      clearInterval(this.interval)
    },
    data() {
      return {
        code: Math.floor(Math.random() * 1000),
        previousCode: null,
        viewer: null
      }
    },
    methods: {
      resetCode() {
        const { code } = this.get()
        const newCode = Math.floor(Math.random() * 1000)
        this.set({ code: newCode, previousCode: code })
      },
      onCreatedListener(message) {
        const { code } = this.get()
        const previousCode = this.get().previousCode || 9999
        if ([code, previousCode].includes(message.to.id) && message.to.type === 'unregistered' && message.body === "registerViewer") {
          this.store.set({ viewer: message.data })
          localStorage.setItem('viewer', message.data)
          const from = { id: message.data, type: 'viewer' }
          client.service('messages').create({ to: message.from, from, body: 'success', data: 'Register viewer' })
        }
      }
    }
  }
</script>