<div class:present="status ==='present'" on:click="changeStatus(event)">
  <i class="check material-icons">{status === 'present' ? "check_box" : "check_box_outline_blank"}</i><span class="name">{student.englishName
    || student.chineseName}</span>
</div>

<style>
  div {
    margin: 1rem 0;
    padding: 1rem;
    cursor: pointer;
    color: grey;
    max-width: 50rem;
    font-size: 2.6rem;
  }

  div:hover {
    color: var(--base-color);
    background-color: #f9f9f9;
  }

  .check {
    position: relative;
    padding: 0.4rem;
    margin: 0.4rem;
  }

  .name {
    position: relative;
    top: -3px;
  }

  div.present {
    color: var(--primary-color);
    font-weight: 400;
    /* border: 1px solid var(--primary-color); */
  }
</style>

<script>
  import client from '../utils/feathers.js'
  export default {
    data() {
      return {
        started: false
      }
    },
    computed: {
      attendance: ({ $attendances, student }) => $attendances.find(attendance => attendance.student === student.id),
      status: ({ attendance }) => {
        return attendance ? attendance.status : 'none'
      }
    },
    methods: {
      changeStatus(event) {
        event.preventDefault()
        const { attendance, status, student, started } = this.get()
        const { session } = this.store.get()
        console.log('att', attendance)
        console.log('status', status)
        if (status === 'none') {
          const now = new Date()
          client.service('attendances').create({ status: "present", student: student.id, session: session.id, arrivedAt: now })
        } else {
          const newStatus = (status === "present") ? "absent"
            : started ? 'late' : "present"
          const arrivedAt = (newStatus === "present" || newStatus === "late") ? new Date() : null
          client.service('attendances').patch(attendance.id, { status: newStatus, arrivedAt })
        }
      }
    }
  }
</script>