{#if $semester}
<h2>{$semester.name} classes</h2>
<p class="subtitle">{startDate} to {endDate}</p>
<SemesterSwitcher chosenId={$semester._id} />
{/if}

<AddClassSession semester={$semester} />
{#if classSessions.length}
<p>Showing {classSessions.length} class sessions. Click to edit.</p>
<ul>
  {#each classSessions as session (session._id)}
  <ClassSessionsListItem {session} {time} />
  {/each}
</ul>

{/if}

<style>
  .subtitle {
    margin-top: -1rem;
  }
</style>

<script>
  import client from '../utils/feathers.js'

  export default {
    oncreate() {
      const { semester } = this.store.get()
      if (semester) {
        // most this to layout.html

        // client.service('groups').find({ query: { semester: semester.id, $sort: name } })
        //   .then(groups => this.store.set({ groups: groups.data }))
      }
      this.interval = setInterval(() => {
        this.set({ time: new Date() })
      }, 20000);
    },
    ondestroy() {
      if (this.classSessions) this.classSessions.unsubscribe()
      clearInterval(this.interval)
    },
    components: {
      AddClassSession: './AddClassSession.html',
      ClassSessionsListItem: './ClassSessionsListItem.html',
      SemesterSwitcher: './semesters/SemesterSwitcher.html'
    },
    data() {
      return {
        classSessions: [],
        time: new Date(),
        chosenSemester: null
      }
    },
    computed: {
      startDate: ({ $semester }) => {
        if (!$semester) return null
        const date = new Date($semester.startDate)
        return date.toDateString()
      },
      endDate: ({ $semester }) => {
        if (!$semester) return null
        const date = new Date($semester.endDate)
        return date.toDateString()
      }
    }
  }
</script>