<p>View recent and upcoming class sessions</p>
<AddClassSession />

{#if $currentSemester}
<h2>Current Semester: {semester.name}</h2>
{:elseif $nextSemester}
<h2>Next Semester: {semester.name}</h2>
{/if}
{#if classSessions.length}
<p>Showing {classSessions.length} class sessions. Click to edit.</p>
<ul>
  {#each classSessions as session (session._id)}
  <ClassSessionsListItem {session} {time} />
  {/each}
</ul>

{/if}

<script>
  import client from '../utils/feathers.js'

  export default {
    oncreate() {
      const { semester } = this.get()
      const { semesters } = this.store.get()
      console.log(semester)
      console.log(semesters)
      if (semester) {
        this.classSessions = client.service('class-sessions').watch()
          .find({ query: { $sort: { startsAt: -1 }, startsAt: { $gte: semester.startDate }, endsAt: { $lte: semester.endDate } } })
          .subscribe(res => {
            this.set({ classSessions: res.data })
          })
      }

      client.service('groups').find().then(groups => {
        const sortedGroups = groups.data.sort((a, b) => a.name > b.name)
        this.store.set({ groups: sortedGroups })
      })
      this.interval = setInterval(() => {
        this.set({ time: new Date() })
      }, 20000);
    },
    ondestroy() {
      if (this.classSessions) this.classSessions.unsubscribe()
      clearInterval(this.interval)
    },
    components: {
      AddClassSession: './AddClassSession.html',
      ClassSessionsListItem: './ClassSessionsListItem.html'
    },
    data() {
      return {
        classSessions: [],
        time: new Date()
      }
    },
    computed: {
      semester: ({ $currentSemester, $nextSemester, $semesters }) => {
        if (!$semesters.length) return null
        if (!$currentSemester && !$nextSemester) return null
        if (!$currentSemester && $nextSemester) return $nextSemester
        return $currentSemester
      }
    }
  }
</script>