<p>View recent and upcoming class sessions</p>
<AddClassSession />

{#if classSessions.length}
<p>Showing {classSessions.length} class sessions. Click to edit.</p>
<ul>
  {#each classSessions as session (session.id)}
  <ClassSessionsListItem {session} {time} />
  {/each}
</ul>

{/if}

<script>
  import client from '../utils/feathers.js'

  export default {
    oncreate() {
      this.classSessions = client.service('class-sessions').watch()
        .find({query: {$sort : {startsAt: -1}}}).subscribe(res => {
          this.set({ classSessions: res.data })
        })
      client.service('student-groups').find().then(groups => {
        const sortedGroups = groups.data.sort((a, b) => a.name > b.name)
        this.store.set({ groups: sortedGroups })
      })
      this.interval = setInterval(() => {
        this.set({ time: new Date() })
      }, 20000);
    },
    ondestroy() {
      this.classSessions.unsubscribe()
      clearInterval(this.interval)
    },
    components: {
      AddClassSession: './AddClassSession.html',
      ClassSessionsListItem: './ClassSessionsListItem.html'
    },
    data() {
      return {
        classSessions: [],
        time: new Date()
      }
    }
  }
</script>