{#if filteredSessions.length}
<h3>Upcoming or ongoing lessons</h3>
{#each filteredSessions as session (session.id)}
<ClassSessionsPickerItem {session} {time} />
{/each}
{:else}
<h3>No lessons scheduled soon.</h3>
{/if}

<script>
  import client from '../utils/feathers.js'
  import { formatDistance } from 'date-fns';

  export default {
    components: {
      ClassSessionsPickerItem: "./ClassSessionsPickerItem.html"
    },
    oncreate() {
      const now = new Date()
      const earlier = new Date()
      const later = new Date()
      const minutes = now.getMinutes()
      const hours = now.getHours()
      earlier.setMinutes(minutes - 30)
      later.setHours(hours + 24)
      this.classSessions = client.service('class-sessions').watch()
        .find({
          query: {
            stage: { $ne: 'Ended' },
            startsAt: { $lte: later.toJSON() },
            endsAt: { $gte: earlier.toJSON() }
          }
        }).subscribe(res => {
          const sessions = res.data.sort((a, b) => a.startsAt > b.startsAt)
          this.set({ sessions })
        })
      client.service('student-groups').find().then(groups => {
        const sortedGroups = groups.data.sort((a, b) => a.name > b.name)
        this.store.set({ groups: sortedGroups })
      })
      this.interval = setInterval(() => {
        this.set({ time: new Date() })
      }, 4000);
    },
    ondestroy() {
      this.classSessions.unsubscribe()
      clearInterval(this.interval)
    },
    data() {
      return {
        time: new Date(),
        sessions: [],
        filteredSessions: []
      }
    },
    computed: {
      earlier: ({ time }) => {
        const earlier = new Date()
        const minutes = time.getMinutes()
        earlier.setMinutes(minutes - 15)
        return earlier
      },
      later: ({ time }) => {
        const later = new Date()
        const minutes = time.getMinutes()
        later.setMinutes(minutes + 15)
        return later
      },
      filteredSessions: ({ sessions, earlier, later }) => {
        return sessions.filter(session => {
          const startsDate = new Date(session.startsAt)
          const endsDate = new Date(session.endsAt)
          return (startsDate < later && endsDate > earlier)
        })
      }
    }
  }
</script>