<script>
  import client from "../utils/feathers"
  export default {
    // subscribe to class-sessions for a given semester
    onstate({ changed, current, previous }) {
      if (changed.semester && previous) {
        if (this.subSessions) this.subSessions.unsubscribe()
        this.setsub()
      }
    },
    oncreate() {
      this.setsub()
    },
    ondestroy() {
      if (this.subSessions) this.subSessions.unsubscribe()
    },
    methods: {
      setsub() {
        const { semester } = this.get()
        this.subSessions = client
          .service("class-sessions")
          .watch()
          .find({ query: { $sort: { startsAt: -1 }, startsAt: { $gte: semester.startDate }, endsAt: { $lte: semester.endDate } } })
          .subscribe(res => {
            this.store.set({ classSessions: res.data })
          })
      }
    }
  }
</script>