<span class="delete-student">
  {#if showConfirm}
  <span class="float-left confirm">Really delete?</span>
  <span class="float-right">
    <span on:click="handleDelete()" class="pointy">Yes</span>
    /
    <span on:click="set({showConfirm:false})" class="pointy">No</span>
  </span>
  {:else}
  <span on:click='set({showConfirm: true})' class="float-right pointy">&times;&nbsp;Delete student</span>
  {/if}
</span>

<style>
  .confirm {
    padding: 0;
    margin: 0;
    color: red;
  }

  .pointy {
    cursor: pointer;
  }

  .delete-student {
    max-width: 40rem;
  }
</style>

<script>
  import client from '../utils/feathers.js'

  export default {
    data() {
      return {
        showConfirm: false
      }
    },
    methods: {
      handleDelete() {
        const { student } = this.get()
        client.service("students").remove(student)
          .then(this.store.addMessage("Student successfully deleted"))
          .catch(error => {
            console.error(error)
            this.store.addMessage("Student could not be deleted")
          })
      }
    }
  }
</script>