<div class="modal">
  <div class="modal-content">

    <div class="modal-stuff">
      <span class="close-button">&times;</span>
      <slot />
    </div>
  </div>
</div>

<style>
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    padding: 2rem;
    width: 100%;
    max-width: 600px;
    margin: 1rem;
    border-radius: 0.5rem;
    text-align: center;
  }

  .modal-stuff {
    text-align: left;
    display: block;
    margin: auto;
  }

  .close-button {
    width: 1.5rem;
    text-align: center;
    cursor: pointer;
    margin: 1em;
  }
</style>

<script>
  export default {
    data() {
      return {
        show: true
      }
    }
  }
</script>