<div>
  <span class="notification-message">{message}</span>
  <span class="notification-close" on:click="$removeMessage(id)">&times;</span>
</div>



<style>
  div {
    border: 1px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
  }

  .notification-message {
    padding: 0 1rem;
    font-weight: bold;
    color: var(--primary-color);
  }

  .notification-close {
    padding: 0 1rem;
    font-weight: 900;
    font-size: 120%;
    /* float: right; */
    color: var(--base-color);
    cursor: pointer;
  }
</style>

<script>

  export default {
    immutable: true,
    // notifications should kill themselves
    oncreate() {
      const { id } = this.get()
      this.timeout = setTimeout(() => {
        this.store.removeMessage(id)
      }, 4000)
    },
    ondestroy() {
      clearTimeout(this.timeout);
    }
  }
</script>