<p>There are {students.length || 'no'} students registered {$groups.length && 'in ' + $groups.length + ' classes'}.</p>
{#if $semester && $semester.endDate > now }
<CreateNewClassButton />
{/if}
{#if studentsByGroup}
<p>Click a class name to change it.</p>
{#each studentsByGroup as group (group._id)}
<StudentGroupListItem {...group} groupId={group._id} />
{/each}
{/if}

<script>
  import client from "../../utils/feathers.js"
  export default {
    components: {
      StudentGroupListItem: './StudentGroupListItem.html',
      CreateNewClassButton: './CreateNewClassButton.html'
    },
    oncreate() {
      const { currentSemester } = this.store.get()
      this.students = client.service('students').watch()
        .find().subscribe(students => this.set({ students: students.data }))
    },
    ondestroy() {
      this.students.unsubscribe()
    },
    data() {
      return {
        students: [],
        now: new Date().toISOString()
      }
    },
    computed: {
      studentsByGroup: ({ students, $groups }) => {
        const existing = $groups.map(group => {
          group.students = students.filter(student => {
            console.log(student)
            if (!student.group) return false
            return student.groups.includes(group._id)
          })
          return group
        })
        const nogroup = { name: "unassigned", students: [] }
        nogroup.students = students.filter(student => {
          if (!student.groups) return true
          return student.groups.length === 0
        })
        console.log([...existing, nogroup])
        return [...existing, nogroup]
      }
    }
  }
</script>